h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

a {
    color: brown;
}

.header{
    font-size: 35px;
    color: blueviolet;

}

.sample{

    margin: 5%;
    padding: 5%;
    background-color: greenyellow;
    border-radius:20%;
    text-align: center;
}

/* Class styling */
.elements{
    font-size: 20px;
    font-family: 'Helvetica';
}

/* Id- Styling for 1 element */
#single{
    font-size: 14px;
    font-family: 'Arial';
}