h1 {
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

a {
    color: brown;
}

.header{
    font-size: 35px;
    color: blueviolet;

}

.video {
    display: block;
    margin: auto;
  }

#left {

    width: 50%;
}
#right {
    width: 50%;
}


#parent {
    display: flex;
    justify-content: space-around;
}


.sample{
    width: 35%;
    margin: 2%;
    
    padding: 5%;
    background-color: greenyellow;
    border-radius:20%;
    border: 5px solid black;
    text-align: center;
}

/* Class styling */
.elements{
    font-size: 20px;
    font-family: 'Helvetica';
}

/* Id- Styling for 1 element */
#single{
    font-size: 14px;
    font-family: 'Arial';
}